<div class="container">
  <div class="row py-5">
    <div class="col-12">
    <h2 class="text-center">Contact Us</h2>
    <p class="text-center">Question with us? Feel free to ask whatever you want!</p>
    </div>
  </div>
  <div class="row p-5" style="background-color: rgba(174, 178, 184, 0.3)">
    <div class="col-lg-8">
      <iframe width='100%' height='600' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q=綠怡苑園藝&z=16&output=embed&t='></iframe>
    </div>
    <div class="col-lg-4">
      <div class="col-12">
        <h3>:: Address ::</h3>
        <p>42E, Ha Pun Shan, Ma On Shan Rd, Ma On Shan</p>
        <h3>:: Telephone ::</h3>
        <p>2649 6280</p>
        <h3>:: Fax ::</h3>
        <p>2636 6191</p>
        <h3>:: Email ::</h3>
        <p>sophiesxmastrees@gmail.com</p>

      </div>
    </div>
  </div>
</div>