<div class="container pt-5">
  <div class="row product-column">
    <div class="col-sm-6">
      <img src="/img/noble_fir.jpg" class="img-fluid" alt="Noble Fir">
    </div>
    <div class="col-sm-6 d-flex align-items-center">
      <div>
        <h2>Noble Fir</h2>
        <ul>
          <li>Traditional Christmas Tree with almost spruce like appearance</li>
          <li>Has soft blue-green needles on evenly spaced strong branches</li>
          <li>Able to hold large and heavy ornaments</li>
        </ul>
        <div class="col-6 mx-auto my-5">
          <button class="btn btn-success btn-lg" @click="showProductModal('nf')">Buy this</button>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row product-column">
    <div class="col-sm-6">
      <img src="/img/douglas_fir.jpg" class="img-fluid" alt="Douglas Fir">
    </div>
    <div class="col-sm-6 d-flex align-items-center">
      <div>
        <h2>Douglas Fir</h2>
        <ul>
          <li>Dense and bushy but soft branches</li>
          <li>Has full and conical shape</li>
          <li>Has a distinctive pine-like scent</li>
        </ul>
        <div class="col-6 mx-auto my-5">
          <button class="btn btn-success btn-lg" @click="showProductModal('df')">Buy this</button>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row product-column">
    <div class="col-sm-6">
      <img src="/img/frasier_fir.jpg" class="img-fluid" alt="Fraser Fir">
    </div>
    <div class="col-sm-6 d-flex align-items-center">
      <div>
        <h2>Fraser Fir </h2>
        <ul>
          <li>Has a pyramid-shape and strong branches</li>
          <li>Narrower in sizes which make perfect for small houses</li>
          <li>Has silvery-green needles and unique sweet-fruit fragrance</li>
        </ul>
        <div class="col-6 mx-auto my-5">
          <button class="btn btn-success btn-lg" @click="showProductModal('ff')">Buy this</button>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row product-column">
    <div class="col-sm-6">
      <img src="/img/poinsettia_wreath.jpg" class="img-fluid" alt="Poinsettia & Wreaths">
    </div>
    <div class="col-sm-6 d-flex align-items-center">
      <div>
        <h2>Poinsettia & Wreaths</h2>
        <ul>
          <li>Most popular decorative flower for Christmas</li>
          <li>Provided in Red and Ivory Color</li>
          <li>Perfect complement to your Christmas décor</li>
          <li>Suitable for both indoor or outdoor</li>
        </ul>
        <div class="col-6 mx-auto my-5">
          <button class="btn btn-success btn-lg" @click="showProductModal('pw')">Buy this</button>
        </div>
      </div>
    </div>
  </div>
  {{> client/modal}}
</div>