<div class="container">
	<div class="row text-center">
        <div class="col-12 my-5">
        <br><br> <h1 style="color:#0fad00">Thank you!</h1>
        <h3 class="my-3">Your order has been reserved.</h3>
        <p style="font-size:20px;color:#5C5C5C;">Thank you for choosing our service, please send the money according the below option to pay the order.</p>
        <div>
                <p class="thankyou-p">1. Transfer: Bank of China (012)805-1-074325-8</p>
                <p class="thankyou-span">(Please provide bank slip)</p>
                <p class="thankyou-p">2. Cheque - Payable to "Sophie's Christmas Tree</p>
                <p class="thankyou-span">(P.O. Box 158, Ma On Shan Post Office, N.T 42E Ma On Shan Tsuen, N.T., Hong Kong)</p>
        </div>
        <p style="font-size:20px;color:#5C5C5C;">Kindly notify us when you complete the payment.</p>
        <div class="col-12">
        <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
        <tr>
        <td colspan="1" >Order Reference:</td>
        <td colspan="8" class="text-md-left"><span style="color:red"> #{{ invoiceRef }}</span></td>
        </tr>
        <tr>
        <td colspan="1">Amount to Be Paid:</td>
        <td colspan="8" class="text-md-left">HK${{ amountPaid }}</td>
        </tr>
        <tr>
        <td colspan="1">Order Date:</td>
        <td colspan="8" class="text-md-left">{{ date }}</td>
        </tr>
        </tbody>
        </table>
        </div>
        <br>
        <p style="color:purple">If you have any enquiry, pleace contact us by 2649 6280.</p>
        <a href="/" class="btn btn-success btn-lg">    Continue Shop     </a>
        <br><br>
        </div>
        
	</div>
</div>