<div class="container">
	<div class="row text-center">
        <div class="col-12 my-5">
        <br><br> <h1 style="color:#0fad00">Thank you!</h1>
        <h3 class="my-3">Your payment has been settled.</h3>
        <p style="font-size:20px;color:#5C5C5C;">Thank you for choosing our service, please keep below reference until the tree arrived!</p>
        <div class="col-12">
        <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
        <tr>
        <td colspan="1" >Order Reference:</td>
        <td colspan="8" class="text-md-left"><span style="color:red"> #{{ invoiceRef }}</span></td>
        </tr>
        <tr>
        <td colspan="1">Amount Paid:</td>
        <td colspan="8" class="text-md-left">HK${{ amountPaid }}</td>
        </tr>
        <tr>
        <td colspan="1">Order Date:</td>
        <td colspan="8" class="text-md-left">{{ date }}</td>
        </tr>
        </tbody>
        </table>
        </div>
        <br>
        <p style="color:purple">If you have any enquiry, pleace contact us by 2649 6280.</p>
        <a href="/" class="btn btn-success btn-lg">    Continue Shop     </a>
        <br><br>
        </div>
        
	</div>
</div>