<div class="container-fluid">
  <div class="row footer-div">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <span>Limited trees available - order yours now!</span>
    </div>
  </div>
</div>