<div class="container-fluid">
  <div class="row footer-div">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <span>Limited order per day, order now to save a spot.</span>
    </div>
  </div>
</div>