{{!-- Desktop Container --}}
<div class="container desktop-only">

  <div class="row justify-content-center">
    <div class="p-3">
    <a href="/"><img src="img/logo.png" class="img-fluid"></a>
    </div>
  </div>

  <div class="row my-3">
    <span class="col-4 header-title"></span>
    <div class="col-8 d-flex align-items-end justify-content-end" style="min-height: 70px !important;">
      <div class="cart-button border border-secondary h-100 w-25 d-flex align-items-center" @click="goToCart()">
       <span style="color:#994F9E"><i class="fas fa-shopping-cart fa-2x px-sm-3"></i></span>
       <span class="d-none d-sm-block px-2" >Item: <span v-cloak>\{{cartItemCount}}</span></span>
      </div>
      <button :disabled="!cartItemCount" class="btn btn-dark mx-3 h-100" @click="goToCheckOut()"><span>Check Out</span></button>
    </div>
  </div>

  <div class="flex-row d-flex justify-content-around my-4">
    <ul class="header-nav-bar list-inline">
      <li class="list-inline-item">
        <a href="/">Home</a>
      </li>
      <li class="list-inline-item">
        <a href="/about">About</a>
      </li>
      <li class="nabb list-inline-item">
        <a href="/product">Product</a>
      </li>
      <li class="list-inline-item">
        <a href="/contact">Contact Us</a>
      </li>
    </ul>
  </div>



</div>
{{!-- Mobile Container --}}

<div class="container-fiuld mobile-only sticky-nav">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand" style="white-space: nowrap; font-size:18px;" @click="goToCart()">Sophie's Christmas Trees
      <i class="fas fa-shopping-cart fa-1.25x px-sm-3" @click="goToCart()"></i>
      <span class="badge badge-pill badge-danger" v-cloak>\{{cartItemCount}}</span>
    </span>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container-fluid">
  <div class="row header-announce">
    <div class="col-12 d-flex justify-content-center my-auto">
      <span>{{ announcement }}</span>
    </div>
  </div>
</div>